.wrapper {
  text-align: center;
}
.title {
  font-size: 48px;
  background-color: lightgrey;
  padding: 5px;
  text-decoration: underline;
}
.imgWrapper {
  margin-top: 20px;
}
.button {
  padding: 5px 10px;
  box-shadow: 4px 6px 3px -2px gray;
  cursor: pointer;
}
img {
  max-width: 400px;
}